.linkCardLayout{
  height: 80px;
  width: 87px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4px;
  color: white;
  user-select: none;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--PC);
}
.linkCardIcon{
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.linkCardTitle{
  line-height: normal;
}
.badgeContent{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 18px;
  padding-top: 5px;
  margin-bottom: -5px;
}
/* .linkCardLayout :global(.ant-badge-count){
  min-width:10px;
  height:10px;
  line-height: 10px;
} */